.footer {
    padding-top: 14rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
        display: flex;
    }
}

.footer-info {

    &__list-item {
        text-align: center;
        padding: 4rem 0 0 0;
    }

    &__link {
        font-family: 'Nunito Sans', sans-serif;
        // font-weight: 700;
        font-size: 1.7rem;
        line-height: 28px;
        color: var(--color-main-lighter);
        text-decoration: none;

        
    }

    &__copyright {
        text-align: center;
        padding: 4rem 0 5rem 0;
        font-family: 'Hanken Grotesk', sans-serif;
        font-size: 1.5rem;
        line-height: 28px;
        color: var(--color-main-lighter);
    }
}
@media (min-width: 768px) {
    .footer-info {
        &__link {
            transition: color .3s;
            &:hover {
                color: var(--color-secondary);
            }
        }
    }
}
@media (min-width: 992px) {
    .footer {
        // flex-direction: row;
        padding-top: 0;
        height: 150px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .footer-info {
        
        &__list {
           display: grid;
           grid-template-columns: 1fr 1fr 2fr;
          
        }

        &__list-item {
            padding: 0;
        }

        &__copyright {
            padding: 0;
        }
    }
}