.video-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 4rem;
    // background-color: #130f40;
    // background-image: linear-gradient(215deg, #000000 71%,#130f40 120%);
    background-color: black;
   
    &__text {
        margin: 10rem 0 3rem 0;
    }

    &__video-wrapper {
        position: relative;
        margin: 5rem 0 6.5rem 0;
        // max-width: 1000px;
        display: flex;
        justify-content: center;
       
    }

    &__video {
        
        align-self: center;
        width: 95%;
        max-width: 1000px;
        box-shadow: 0 0 1px 3px rgba(0,0,0,0.1);
        cursor: pointer;
    }

    &__video-play-btn {
        z-index: 1000;
        // border: none;
        align-self: center;
        // width: 95.3%;
        // max-width: 1000px;
        // /* display: flex; */
        // height: 100%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        width: 60px;
        cursor: pointer;
    }

    &__video-shadow {
        position: absolute;
        align-self: center;
        width: 96%;
        height: 100%;
        max-width: 1000px;
        background-color: rgba(0, 0, 0, 0.587);
    }
  
}

.services {
    padding-bottom: 4rem;
    background-color: black;
    position: relative;
}

.services-top {
    display: flex;
    flex-direction: column;

    &__triangle-icon {
        align-self: flex-start;
        width: 65px;
        animation: bevel 20s infinite;
    }

    &__plus-icon {
        align-self: flex-end;
        width: 28px;
        animation: rotate 30s infinite;
    }
}

.services-bottom {
    text-align: center;
 

    &__icon {
        margin: 12rem 0 2rem 0;
    }

    &__heading {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 33px;
    }

    &__paragraph {
        font-size: 1.5rem;
        line-height: 28px;
        margin-top: 20px;
    }

    &__plus-icon {
        width: 28px;
        animation: rotate 24s infinite;
    }
}


.services-shadow {
   display: none;
}


@media (min-width: 768px) {
    
    .video-section {

        &__text {
            display: flex;
            justify-content: space-around;
        }

        &__heading {
            max-width: 50%;
        }

        &__paragraph {
            max-width: 40%;
        }
        &__video-play-btn {
            width: 90px;
            transition: width .6s;

            &:hover {
                width: 100px;
            }

        }

        &__video-shadow {
            transition: background-color .3s;
            cursor: pointer;
            &:hover {
                background-color: transparent;
            }

        }
        
    }

    .services-top {
      &__heading {
        text-align: center;
        font-size: 6rem;
        width: 80%;
        align-self: center;
      }
    }
    .services-bottom {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 90px;

        &__paragraph {
            width: 80%;
        
        }
    }

    .service {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        transition: all .3s;
        

        &:hover {
            scale: 1.1;
        }
    }

    .services-shadow {
        display: block;
        position: absolute;
        left: 0;
        top: -453px;
    }
}


@media (min-width: 1200px) {
    .container{
       max-width: unset;
    }
}

