.video-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 4rem;
   
    &__text {
        margin: 10rem 0 3rem 0;
    }

    &__video-wrapper {
        position: relative;
        margin: 5rem 0 6.5rem 0;
        // max-width: 1000px;
        display: flex;
        justify-content: center;
       
    }

    &__video {
        align-self: center;
        width: 95%;
        max-width: 1000px;
        box-shadow: 0 0 1px 3px rgba(0,0,0,0.1);
        cursor: pointer;
    }

    &__video-play-btn {
        z-index: 1000;
        // border: none;
        align-self: center;
        // width: 95.3%;
        // max-width: 1000px;
        // /* display: flex; */
        // height: 100%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        width: 40px;
        cursor: pointer;
    }

    &__video-shadow {
        position: absolute;
        align-self: center;
        width: 96%;
        height: 104%;
        max-width: 1000px;
        background-color: rgba(0, 0, 0, 0.587);
    }
  
}

.services {
    padding-bottom: 4rem;
    background-color: black;
    position: relative;
}

.services-top {
    display: flex;
    flex-direction: column;

    &__triangle-icon {
        align-self: flex-start;
        width: 65px;
        animation: bevel 20s infinite;
    }

    &__plus-icon {
        align-self: flex-end;
        width: 28px;
        animation: rotate 30s infinite;
    }
}

.services-bottom {
    text-align: center;
 

    &__icon {
        margin: 12rem 0 2rem 0;
    }

    &__heading {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 33px;
    }

    &__paragraph {
        font-size: 1.5rem;
        line-height: 28px;
        margin-top: 20px;
    }

    &__plus-icon {
        width: 28px;
        animation: rotate 24s infinite;
    }
}


.services-shadow {
   display: none;
}

